In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data_all.xlsx')

In [3]:
df.columns

Index(['Pat.Nr.', 'Name', 'Geburtsdatum', 'Datum', 'Befund', 'Unnamed: 5',
       'Betrifft:', 'Datum_1', 'Befund_1', 'Unnamed: 9', 'Betrifft:_1',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15'],
      dtype='object')

In [4]:
df = df.drop('Geburtsdatum', axis='columns')

In [5]:
colreasonsel1 = df['Pat.Nr.'].apply(lambda x: isinstance(x, str))

In [7]:
colreason1 = df.loc[colreasonsel1].rename({'Pat.Nr.': 'reason'}, axis='columns')

In [8]:
colreason1

,reason,Name,Datum,Befund,Unnamed: 5,Betrifft:,Datum_1,Befund_1,Unnamed: 9,Betrifft:_1,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
67,nicht im T&E,NaN,2017-07-31 14:23:00,IV,EYL,R,2018-05-23 11:14:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
1917,nicht im T&E,NaN,2019-06-03 18:00:00,IV,LUC,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2104,kein T&E,NaN,2019-01-28 11:18:00,IV,LUC,R,2019-03-19 09:33:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN
4795,MÖ im Rahmen Grunderkrankung,NaN,2018-12-13 11:19:00,NaN,LUC,R,2019-10-15 11:24:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN
5732,zugewiesen; kein T&E,NaN,2019-11-26 16:51:00,IV,EYL,R,2019-11-26 16:51:00,IV,EYL,L,1,NaN,NaN,NaN,NaN
6497,nicht bilat,Riehen,NaT,NaN,NaN,NaN,2020-01-14 12:19:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
7711,wird ab 3.8.17 plötzlich bds unter ZVV gespritzt,NaN,2019-08-06 10:49:00,IV,EYL,R,2020-01-07 11:11:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
7712,"vorher R: AMD, L: ZVV",NaN,2019-04-30 10:57:00,IV,EYL,R,2019-10-15 11:17:00,IV,EYL,L,1,NaN,NaN,NaN,NaN
7713,>mehrere Diagnosen oder nicht?,NaN,2019-01-22 11:43:00,IV,EYL,R,2019-07-23 11:58:00,IV,EYL,L,2,NaN,NaN,NaN,NaN
9777,Label R zuerst ZVV dann AMD,NaN,2019-04-11 10:58:00,IV,LUC,R,2015-07-13 12:21:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN
10274,Diagnose am linken Auge wechselt von ZVV auf AMD,NaN,2019-04-29 16:09:00,IV,EYL,R,2018-07-09 15:30:00,IV,EYL,L,2,NaN,NaN,NaN,NaN
12504,R wechselt Label von VAV auf AMD,NaN,2019-10-15 08:29:00,IV,LUC,R,2019-10-15 08:30:00,IV,LUC,L,3,NaN,NaN,NaN,NaN
24317,Bayer AG,"Test, Otto",2018-04-26 09:22:00,IV,EYL,R,2019-02-21 00:00:00,IV,OZU,L,NaN,NaN,NaN,NaN,NaN

In [10]:
colreason2 = df.loc[df['Name'].apply(lambda x: isinstance(x, str) and not ',' in x and not 'Dr.' in x)].rename({'Name': 'reason'}, axis='columns')

In [11]:
colreason2

,Pat.Nr.,reason,Datum,Befund,Unnamed: 5,Betrifft:,Datum_1,Befund_1,Unnamed: 9,Betrifft:_1,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
3,NaN,DMÖ,2019-09-03 14:56:00,IV,EYL,R,2019-09-03 14:56:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
4,NaN,nicht im T&E,2019-07-04 14:10:00,IV,EYL,R,2019-07-04 14:10:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
19,NaN,DMÖ,2016-01-25 17:51:00,IV,LUC,R,2016-11-07 14:37:00,IV,OZU,L,NaN,NaN,NaN,NaN,NaN
20,NaN,parallel in Türkei behandelt,2015-08-04 09:37:00,IV,LUC,R,2016-07-26 15:08:00,IV,OZU,L,NaN,NaN,NaN,NaN,NaN
96,NaN,nicht im T&E,2017-05-15 14:53:00,IV,EYL,R,2016-10-10 13:50:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26989,NaN,ZH,2016-06-07 15:38:00,IV,EYL,R,2018-01-16 15:45:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
27012,NaN,ZH,2019-04-09 14:31:00,IV,EYL,R,2019-04-09 14:32:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
27039,NaN,ZH,2019-09-24 14:21:00,IV,LUC,R,2019-12-12 11:30:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN
27084,NaN,Visus nicht messbar,2020-02-03 10:58:00,IV,LUC,R,2019-12-23 11:03:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN
27090,NaN,ZH,2019-12-16 12:51:00,IV,EYL,R,2020-01-13 12:35:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN

In [12]:
colreason = pd.concat([colreason1, colreason2])

In [13]:
colreason

,reason,Name,Datum,Befund,Unnamed: 5,Betrifft:,Datum_1,Befund_1,Unnamed: 9,Betrifft:_1,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Pat.Nr.
67,nicht im T&E,NaN,2017-07-31 14:23:00,IV,EYL,R,2018-05-23 11:14:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN,NaN
1917,nicht im T&E,NaN,2019-06-03 18:00:00,IV,LUC,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2104,kein T&E,NaN,2019-01-28 11:18:00,IV,LUC,R,2019-03-19 09:33:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN,NaN
4795,MÖ im Rahmen Grunderkrankung,NaN,2018-12-13 11:19:00,NaN,LUC,R,2019-10-15 11:24:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN,NaN
5732,zugewiesen; kein T&E,NaN,2019-11-26 16:51:00,IV,EYL,R,2019-11-26 16:51:00,IV,EYL,L,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26989,ZH,NaN,2016-06-07 15:38:00,IV,EYL,R,2018-01-16 15:45:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN,NaN
27012,ZH,NaN,2019-04-09 14:31:00,IV,EYL,R,2019-04-09 14:32:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN,NaN
27039,ZH,NaN,2019-09-24 14:21:00,IV,LUC,R,2019-12-12 11:30:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN,NaN
27084,Visus nicht messbar,NaN,2020-02-03 10:58:00,IV,LUC,R,2019-12-23 11:03:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN,NaN
27090,ZH,NaN,2019-12-16 12:51:00,IV,EYL,R,2020-01-13 12:35:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
from collections import Counter

In [15]:
Counter(colreason['reason'])

Counter({'ZH': 582,
         'kein T&E': 57,
         'nicht bilateral': 51,
         'Liestal': 40,
         'nur 1x bilateral': 30,
         'ZH: nicht im T&E': 26,
         'nicht im T&E': 10,
         'nicht bilat': 10,
         'Delémont': 5,
         'OZU': 5,
         'Laufen': 4,
         'nicht im Beobachtungszeitraum': 4,
         'Visus nicht messbar': 4,
         'zugewiesen kein T&E': 3,
         'DMÖ': 2,
         'VD ZH --> keine T&E': 2,
         'Fleischlin/Jesse Liestal': 2,
         'keine bilaterale IVI': 2,
         'IVI Delémont': 2,
         'keine bilat T&E': 2,
         'Riehen': 2,
         'keine bilateralen IVIs': 2,
         'Zuweiser T&E': 2,
         'nur einmal bilateral': 2,
         'MÖ im Rahmen Grunderkrankung': 1,
         'zugewiesen; kein T&E': 1,
         'wird ab 3.8.17 plötzlich bds unter ZVV gespritzt': 1,
         'vorher R: AMD, L: ZVV': 1,
         '>mehrere Diagnosen oder nicht?': 1,
         'Label R zuerst ZVV dann AMD': 1,
         'Diagnose am linken Auge wechselt von ZVV auf AMD': 1,
         'R wechselt Label von VAV auf AMD': 1,
         'Bayer AG': 1,
         'parallel in Türkei behandelt': 1,
         'Keskinaslan-Pat': 1,
         'Feld BG besprechen': 1,
         'ausgeschlossen bei 1xbilat IVI bds PRN': 1,
         'St.n. Hospitalisation weg. Sturz': 1,
         'Vitientransplantation': 1,
         'CVI vor 2 WO': 1,
         'Jesse/Fleischlin Liestal': 1,
         'bilaterale IVI nur Luc+OZUrdex': 1,
         '10.06.15 FK-Gefühl+Augenbrennen': 1,
         'BH injektion + HH Stippung': 1,
         '> SICCA': 1,
         'nicht im T&E bei bilateralen IVI': 1,
         'OZUrdex': 1,
         'nur einmal bilateral im PRN bds': 1,
         'ab hier: Zuweiser T&E': 1,
         '10.05.16 VAV': 1,
         'Liestal: Fleischlin': 1,
         'keine bilat': 1,
         'Mouches bilateral nach IVI': 1,
         'keine Visusmessung möglich': 1,
         'ZVV bds von anfangan': 1,
         'r bleibt ZVV': 1,
         'kein T&E; Riehen': 1,
         'links auch AMD von Anfang an': 1,
         'einmal links unter ZVV gespritzt am 29.03.16': 1,
         'sonst unter DMÖ': 1,
         'siehe auch Beurteilung vom 27.04.16': 1,
         'bds DMÖ': 1,
         'MusterKG': 1,
         'direkter loss to follow up nach einmaliger bilateraler IVI': 1,
         'AMD bds': 1,
         'nur einmal injiziert': 1,
         'nur bilateral mit OZUrdex': 1,
         'Zuweiser T&E ohne Follow-up': 1,
         'Pat mit nur einer bilateralen Injektion im Dez 19': 1,
         'Visus links nicht messbar': 1,
         'nur eine bilaterale IVI': 1,
         'Wieso wird das rechte Auge schlussendlich im PRN schema gespritzt?': 1,
         'keine der Grundindikationen': 1,
         'kein regelmässiges T&E da Zuweiser': 1,
         'OZU = Ende Beobachtungszeitraum bds oder nur links?': 1,
         'Pat klagt über Hörminderung bds und Tinnitus nach bilateraler Ozurdex und Eylea injektion > vlt doch bds Beobachtungszeitraum stoppen?': 1,
         'keine 2x T&E bilateral': 1,
         'Visus nicht mehr messbar': 1,
         'Kein T&E': 1,
         'nur Ozurdex': 1,
         'kein T&E bei bilateraler IVI': 1,
         'kein T&E ': 1,
         'kein T&E bilateral': 1,
         'nur 1x bilateral im T&E': 1,
         'unklarer Indikationsdiagnose': 1,
         'Zuweiser T&E nur 1x bilateral': 1,
         'label ZVV bds; mit KH besprochen': 1,
         'keine bilaterale T&E': 1,
         'Zh': 1})