In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data_all.xlsx")

In [4]:
df

,Pat.Nr.,Name,Geburtsdatum,Datum,Befund,Unnamed: 5,Betrifft:,Datum_1,Befund_1,Unnamed: 9,Betrifft:_1,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,441119,"Abiriga, Elsa",1931-07-30 00:00:00,2016-10-25 15:40:00,IV,LUC,R,2020-03-24 11:24:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,2016-09-27 16:56:00,IV,LUC,R,2020-02-26 16:11:00,IV,LUC,L,NaN,NaN,NaN,NaN,NaN
2,201117,"Acampora, Ciro",1949-05-22 00:00:00,2020-03-18 14:10:00,IV,EYL,R,2020-03-18 14:10:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
3,NaN,DMÖ,NaN,2019-09-03 14:56:00,IV,EYL,R,2019-09-03 14:56:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
4,NaN,nicht im T&E,NaN,2019-07-04 14:10:00,IV,EYL,R,2019-07-04 14:10:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27125,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-11-17 13:25:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
27126,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-20 13:34:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
27127,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-09-15 13:12:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
27128,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-08-18 13:26:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN
27129,NaN,NaN,NaN,NaT,NaN,NaN,NaN,2015-07-21 13:39:00,IV,EYL,L,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.